CREMENI_DOMAIN=staging.cremeni.com.br
WP_HOME=https://staging.cremeni.com.br
WP_SITEURL=https://staging.cremeni.com.br
WP_DB_NAME=cremeni
WP_DB_USER=cremeni
WP_DB_PASSWORD=CHANGE_ME
DB_ROOT_PASSWORD=CHANGE_ME_TOO
